/* This allows for more intuitive sizing of CSS Boxes - Source: joshwcomeau */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Color Palette */
  --lightgray: hsl(0, 0%, 81%);
  --carn-header-color: hsl(0, 82%, 68%);
  --carn-body-color: hsla(0, 80%, 72%, 0.274);
  --herb-header-color:hsl(98, 80%, 72%);
  --herb-body-color: hsla(98, 80%, 72%, 0.274);
  --home-header-color: hsl(56, 80%, 72%);
  --home-body-color: hsla(56, 80%, 72%, 0.274);
  --darkblue: hsl(240, 10%, 25%); /* Used in nav and footer */
  
  /* Font Styles */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


/* Body */
.Carnivores{
  background-color: var(--carn-body-color);
}

.Herbivores{
  background-color: var(--herb-body-color);
}

.Home{
  background-color: var(--home-body-color);
}
/* Header */
header {
  --header-padding-left: 10px; 
  margin: -8px -8px 8px -8px;
  padding: 4px;
  position: sticky;
  top: 0px;
  box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.219);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.Carn-Header{
  background-color: var(--carn-header-color);
}

.Herb-Header{
  background-color: var(--herb-header-color);
}

.Home-Header{
  background-color: var(--home-header-color);
}
header h1 {
  margin-left: var(--header-padding-left);
}

/* Navbar */
nav {
  margin-left: var(--header-padding-left);
  background-color: var(--darkblue);
  border-radius: 0 1.25rem 1.25rem 0;
  box-shadow: 0px 4px;
}
nav ul {
  display: flex;
  justify-content: start;
  list-style: none;
  font-size: 1.125rem;
  padding: 0px;
  overflow: auto;
}
@media (max-width: 400px) {
  nav {
    border-radius: 1.25rem;
  }
  nav ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
nav ul li {
  background-color: var(--darkblue);
}

.navlink {
  
  display: block; /* This line enables changing the size of the links */
  padding: 8px 12px;
  font-weight:bold;
  text-decoration-thickness: 2px; /* This reduces the boldness of the underline. Don't remove underline for links for accessibility*/
  color: white;
  --shadowsize: max(4px, 0.125rem);
  box-shadow: var(--shadowsize) var(--shadowsize) 1px hsl(240, 10%, 45%) inset,
    calc(var(--shadowsize) * -1) calc(var(--shadowsize) * -1) 1px
      hsl(240, 10%, 45%) inset;
  border: 1px black solid;
}

.navlink:hover {
  background-color: hsl(240, 10%, 45%);
  box-shadow: var(--shadowsize) var(--shadowsize) 1px var(--darkblue) inset,
    calc(var(--shadowsize) * -1) calc(var(--shadowsize) * -1) 1px
      var(--darkblue) inset;
}

/* Main */

.figure-wrapper {
  width: fit-content;
  margin: 0 auto;  
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 4px 15px 1px rgba(0, 0, 0, 0.274);
}

figure {
  max-width: 800px; /* Keeps figure and figcaption width constrained to the same size while also preventing the image from getting too big */
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

figcaption {
  border: 0.5px solid black;
  border-radius: 5px;
  overflow-wrap: break-word;
  font-size: 0.75rem;
  padding: 10px;
  background-color: var(--lightgray);
}
figure img {
  width: 100%;
  max-height: 700px;
}

.card {
  --card-spacing: 15px;
  border-radius: 20px;
  margin: 10px auto;
  padding: 10px 20px;
  max-width: 85%;
  background-color: white;
  box-shadow: 0px 4px 15px 1px rgba(0, 0, 0, 0.274);
}

.card h2 {
  font-size: 1.5rem;
}

.card p {
  padding-left: 1rem;
  font-size: 1.25rem;
  text-align: justify;
}

.card li {
  font-size: 1.25rem;
  text-align: justify;
}

/* Footer */
footer {
  margin: 0 -8px;
  position: relative;
  bottom: -8px;
  padding: 15px 30px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: var(--darkblue);
  box-shadow: 0px 4px 15px 1px rgba(0, 0, 0, 0.274);
}

footer h3 {
  color: white;
  font-size: 1.25rem;
}
footer li {
  margin: 10px;
  color: white;
  font-size: 1rem;
}

footer a{
  color: hsl(210, 92.7%, 83.3%);
  font-weight: bold;
}

footer a:visited{
  color: hsl(210, 100.0%, 68.7%);
}

/* TODO - Add media query for light / dark mode users. Default should be light */